<div class="container mt-5">
    {% if success_message != '' %}
        {{ success_message }}
    {% endif %}
    <h1>Backup erstellen</h1>
    <div style="margin-top: 40px"></div>
    <p>Auf dieser Seite kann ein Backup der Datenbank heruntergeladen werden.
        </br>Für den Import des Backups beachten Sie bitte die Dokumentation.</p>
    <div style="margin-top: 30px"></div>

    <a href="downloadBackup.php"><button type="submit" class="btn btn-primary">Backup herunterladen</button></a>

</div>


<div style="margin-top: 50px;"></div>
