            
            <div class="container mt-5">
            {% if success_message != '' %}
                {{ success_message|raw }}
            {% endif %}
            <h1>Benutzer erstellen</h1>
            <div style="margin-top: 40px"></div>
                <form action="{{ php_self }}" method="post" id="createUserForm">
                    <div class="mb-3">
                        <label for="username" class="form-label">
                            <i class="bi bi-person"></i>&nbsp; Benutzername:
                        </label>
                        <div class="required-field-block">
                            <input type="text" class="form-control" id="username" name="username" required>
                            <div class="required-icon">
                                <div class="text">*</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">
                            <i class="bi bi-envelope-at"></i>&nbsp; E-Mail-Adresse:
                        </label>
                        <div class="required-field-block">
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div class="required-icon">
                                <div class="text">*</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" id="passwordDiv">
                      <label for="password" class="form-label">
                            <i class="bi bi-key"></i>&nbsp; Passwort:
                      </label>
                      <div class="required-field-block">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="required-icon">
                            <div class="text">*</div>
                        </div>
                        <small id="helpTextPassword" name="helpTextPassword" style="color: red"></small>
                      </div>
                    </div>
                    <div class="mb-3" id="confirmPasswordDiv">
                      <label for="confirmPassword" class="form-label">
                            <i class="bi bi-key"></i>&nbsp; Passwort bestätigen:
                      </label>
                      <div class="required-field-block">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        <div class="help-block with-errors"></div>
                        <div class="required-icon">
                            <div class="text">*</div>
                        </div>
                        <small id="helpTextConfirmPassword" name="helpTextConfirmPassword" style="color: red"></small>
                      </div>
                    </div>
                    <div style="margin-top: 20px"></div>

                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Benutzer erstellen</button>
                </form>
            </div>

        <div style="margin-top: 50px;"></div>
