<div class="container">
    <div class="alert alert-danger" id="alert" style="display: none"></div>
    <div class="container mt-5 justify-content-center align-items-center" style="max-width: 500px; display: flex">
        <div class="login-form" style="width: 100%; border: 0.5px solid #ccc; border-radius: 10px; padding: 40px">
            <h2>E-Mail-Verifizierung</h2>
            <div style="margin-top: 20px"></div>
            <p>Zum Ändern deiner Daten musst du deine Identität verifizieren. Bitte gib den Verifizierungscode ein, den du an {{ anonymousMail }} erhalten hast.</p>
            <div style="margin-top: 20px"></div>
            <form id="emailTokenForm" action="#" method="POST">
                <input type="hidden" name="id" value="{{ id }}" id="id">
                <div class="mb-3">
                    <label class="form-label">
                        <i class="bi bi-key"></i> Verifizierungscode:
                    </label>

                    <div class="d-flex align-items-center gap-2 mt-2">
                        <input type="text" class="form-control text-center code-input" maxlength="1" inputmode="numeric" pattern="[0-9]" style="max-width:50px;" id="code1" name="code1" required>
                        <input type="text" class="form-control text-center code-input" maxlength="1" inputmode="numeric" pattern="[0-9]" style="max-width:50px;" id="code2" name="code2" required>
                        <input type="text" class="form-control text-center code-input" maxlength="1" inputmode="numeric" pattern="[0-9]" style="max-width:50px;" id="code3" name="code3" required>

                        <span class="fw-bold">-</span>

                        <input type="text" class="form-control text-center code-input" maxlength="1" inputmode="numeric" pattern="[0-9]" style="max-width:50px;" id="code4" name="code4" required>
                        <input type="text" class="form-control text-center code-input" maxlength="1" inputmode="numeric" pattern="[0-9]" style="max-width:50px;" id="code5" name="code5" required>
                        <input type="text" class="form-control text-center code-input" maxlength="1" inputmode="numeric" pattern="[0-9]" style="max-width:50px;" id="code6" name="code6" required>
                    </div>
                </div>
                <div style="margin-top: 20px;"></div>
                <button type="submit" id="submit" class="btn btn-primary mt-3">Code prüfen <i class="bi bi-send-check"></i></button>
            </form>
        </div>
    </div>
</div>

<div style="margin-top: 50px;"></div>
