<div class="container">
    {% if success_message != '' %}
        {{ success_message }}
    {% endif %}
    <div class="container mt-5 justify-content-center align-items-center" style="max-width: 500px; display: flex">
        <div class="login-form" style="width: 100%; border: 0.5px solid #ccc; border-radius: 10px; padding: 40px">
            <h2>Passwort vergessen</h2>
            <div style="margin-top: 20px"></div>
            <p>Wenn du dein Passwort vergessen hast, kannst du hier deinen Benutzernamen eingeben, um ein neues Passwort zugesendet zu bekommen.</p>
            <div style="margin-top: 20px"></div>
            <form action="{{ php_self }}" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">
                        <i class="fas fa-user"></i> Benutzername:
                    </label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div style="margin-top: 20px;"></div>
                <button type="submit" id="submit" name="submit" class="btn btn-primary">Absenden</button>
            </form>
        </div>
    </div>
</div>

<div style="margin-top: 50px;"></div>
