<div class="container mt-5">
    {% if success_message != '' %}
        {{ success_message }}
    {% endif %}
    <h2>Alumni werden</h2>
    <div style="margin-top: 20px"></div>
    <p>Danke, dass du Interesse hast, unserem Alumni-Netzwerk beizutreten. Fülle dazu einfach das Formular aus.</p>
    <div style="margin-top: 20px"></div>
    <form action="{{ php_self }}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">
                <i class="bi bi-person"></i>&nbsp; Vor- und Nachname:
            </label>
            <div class="required-field-block">
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">
                <i class="bi bi-envelope-at"></i>&nbsp; E-Mail-Adresse:
            </label>
            <div class="required-field-block">
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>
        </div>
        <p>Wir würden uns freuen, wenn du uns auch Daten zu deinem beruflichen Werdegang mitteilst. Wir würden dich ggf. bei Bedarf gerne zum Zweck der Berufsorientierung kontaktieren.</p>
        <div class="mb-3">
            <label for="studies" class="form-label">
                <i class="bi bi-book"></i>&nbsp; Studium/Ausbildung:
            </label>
            <input type="text" class="form-control" id="studies" name="studies">
        </div>
        <div class="mb-3">
            <label for="job" class="form-label">
                <i class="bi bi-briefcase"></i>&nbsp; Beruf/Tätigkeit:
            </label>
            <input type="text" class="form-control" id="job" name="job">
        </div>
        <div class="mb-3">
            <label for="company" class="form-label">
                <i class="bi bi-building"></i>&nbsp; Aktueller Arbeitgeber:in:
            </label>
            <input type="text" class="form-control" id="company" name="company">
        </div>
        <p style="font-size: 14px"><span style="color: red">*</span> Pflichtfeld</p>
        <div style="margin-top: 30px"></div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="data-privacy" name="data-privacy" value="agreed" required>
            <label class="form-check-label" for="data-privacy">
                Ich habe die <a href="privacy.php">Datenschutzerklärung</a> zur Kenntnis genommen und stimme der Verarbeitung meiner Daten zu. <span style="color: red">*</span>
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="transfer-privacy" name="transfer-privacy" value="agreed">
            <label class="form-check-label" for="transfer-privacy">
                Zusätzlich stimme ich der Weitergabe meiner Daten insbesondere meiner E-Mail-Adresse an Schüler:innen zur Kontaktaufnahme zu. Meine Einwilligung kann ich jederzeit widerrufen.
            </label>
        </div>
        <div style="margin-top: 20px"></div>
        <button type="submit" id="submit" name="submit" class="btn btn-primary"><i class="bi bi-send"></i> Absenden</button>
    </form>
</div>

<div style="margin-top: 50px;"></div>
