<div class="container">
    {% if success_message != '' %}
        {{ success_message|raw }}
    {% endif %}
    <div class="container mt-5 justify-content-center align-items-center" style="max-width: 500px; display: flex">
        <div class="login-form" style="width: 100%; border: 0.5px solid #ccc; border-radius: 10px; padding: 40px">
            <h2>Admin-Login</h2>
            <div style="margin-top: 20px"></div>
            <p>Du kannst dich einloggen, um die Daten des Alumni-Formulars einzusehen.</p>
            <div style="margin-top: 20px"></div>
            <form action="index.php" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">
                        <i class="bi bi-person"></i> Benutzername:
                    </label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">
                        <i class="bi bi-key"></i> Passwort:
                    </label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <span class="input-group-text" id="togglePassword" data-icon="passwordToggleIcon"
                              data-input="password">
                            <i class="bi bi-eye-slash" id="passwordToggleIcon"></i>
                        </span>
                    </div>
                </div>
                <p style="text-align: end"><a href="forgetPassword.php">Passwort vergessen?</a></p>
                <div style="margin-top: 20px;"></div>
                <button type="submit" id="submit" name="submit" class="btn btn-primary">Anmelden</button>
            </form>
        </div>
    </div>
</div>

<div style="margin-top: 50px;"></div>
